@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
#background-login{
  background-color:#2b54ae ;
  width: -webkit-fill-available;
  height: 100vh;
  margin-top: -7%;
  
}
figure{

  width: 77%;
  height: 70%;
  background-position:center;
  background-size: contain;
  background-repeat: repeat-y;
  position: absolute;
  background-image: url('https://github.com/Abygail27/citi-talent/blob/rama-abby/citi/src/views/assets/images/group__4_.png?raw=true');
  width: -webkit-fill-available;
left: 1%;
right: 36.11%;
top: 0%;
bottom: 5%;
}

.button-container{
  position: center;
}

#input-login{
  top: 0%;
bottom: 7%;

}