@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
#background-login{
  background-color:#2b54ae ;
  width: -webkit-fill-available;
  height: 100vh;
  margin-top: -7%;
  
}
figure{

  width: 27%;
  height: 10%;
  background-size: contain;
  background-repeat: repeat-y;
  position: absolute;
left: 40%;
right: 36.11%;
top: 28.44%;
bottom: 58.91%;
}
